<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{#if title }}{{page}} - {{/if}}{{title}}</title>
  <link rel="shortcut icon" type="image/ico" href="{{ base_url }}assets/img/favicon.ico"/>
  <link rel="stylesheet" href="{{ base_url }}assets/css/style.css" type="text/css"/>
  <script type="text/javascript" src="https://static.husarion.com/js/qa.js"></script>
  <script type="text/javascript" src="{{ base_url }}assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="{{ base_url }}assets/js/jquery.fancybox.pack.js"></script>
  <script type="text/javascript" src="//cdn.wishpond.net/connect.js?merchantId=1422121&writeKey=1ab81ae82a68" async></script>
</head>

<body class="docs-page docs-page-{{theme}}" id="docs-{{platform}}">

{{> top_bar }}


<div id="wrapper" style="margin-top: 50px;">


  <div class="toc_wrapper">
    <div class="selected_platform">
      {{# if platform }}
        <span>{{platform}}</span>
      {{/if}}
    </div>
    <div class="toc">
      {{#each collections}}

        {{#ifCond this.metadata.page '==' ../page}}

          <div class="section">
            <span class="section-title">{{{this.metadata.title}}}</span>

            {{#each this}}

              {{#ifCond ../metadata.title '==' ../../title}}

                {{> toc no_full_url = true }}

              {{else}}

                {{> toc no_full_url = false }}

              {{/ifCond}}

            {{/each}}

          </div>

        {{/ifCond}}

      {{/each}}

    </div>
  </div>


  <div class="content_wrapper">
    <div class="content_page">

      {{{ contents }}}
    </div>
  </div>


  <div class="tgl_toc">
    <a href="#">&nbsp;</a>
  </div>
</div>
<script src="{{base_url}}assets/js/base.js"></script>

<script type="text/javascript">
  (function (a, l, b, c, r, s) {
      _nQc = c, r = a.createElement(l), s = a.getElementsByTagName(l)[0];
      r.async = 1;
      r.src = l.src = ("https:" == a.location.protocol ? "https://" : "http://") + b;
      s.parentNode.insertBefore(r, s);
  })
      (document, "script", "serve.albacross.com/track.js", "89003530");
</script>


</body>
</html>
